<div class="mainBlog">
    <img src="assets/images/wall2.jpg" alt="" class="img-fluid">
    <div class="head">
      <h1>We Send Your Code</h1>
      <p>Enter the confirmation OTP below</p>
      <p class="danger" *ngIf="count==0">
        limit exceeded
      </p>
      <!-- <form class="next row">
        <input #input1 (keyup)="(input1.value.length == 1) ? input2.focus() : ''" type="text"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">&nbsp;
        <input #input2 (keyup)="(input2.value.length == 1) ? input3.focus() : ''" type="text"  maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');">&nbsp;
        <input #input3 (keyup)="(input3.value.length == 1) ? input4.focus() : ''" type="text"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">&nbsp;
        <input #input4  type="text" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
      </form> -->

      <!-- <form class="next row">
        <input type="text"  maxlength="1" (keyup)="keytab($event, 1)">&nbsp;
        <input type="text"  maxlength="1" (keyup)="keytab($event, 2)">&nbsp;
        <input type="text"  maxlength="1" (keyup)="keytab($event, 3)">&nbsp;
        <input type="text" maxlength="1" >
      </form> -->
      
      <form class="next row">
        <div class="array" *ngFor="let input of formInput;  let i=index">
          <input type="text" #form maxlength="1" name={{input}} (keyup)="keyUpEvent($event, i)" [(ngModel)]="array[i]" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        </div>
      </form>
      
      <button type="button" class="btn btn-success" (click)="onSubmit()" #val>Submit</button>
    </div>
</div>